@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.text {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.text_bold {
  font-weight: 900;
}

.text_color {
  color: #f16d7f;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  padding: 15px 40px;
  border: 1px solid transparent;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.input {
  background: #e1e1e1;
}

.card {
  cursor: pointer;
  width: 360px;
  background-color: #f8f8f8;
}

.card_vertical {
  margin-bottom: 30px;
}

.card_vertical:hover .card__overlay {
  opacity: 1;
}

.card__image {
  position: relative;
  width: 360px;
  height: 420px;
}

.card__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: rgba(58, 56, 56, 0.86);
  -webkit-transition: 0.5s opacity ease-in-out;
  transition: 0.5s opacity ease-in-out;
}

.card__overlay button {
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.card__overlay button img {
  margin-right: 12px;
}

.card__overlay button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__body {
  margin: 25px 0 20px 16px;
  text-align: start;
}

.card__title {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: block;
  margin-bottom: 12px;
}

.card__text {
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.card__price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.card__left {
  height: 306px;
}

.card__left img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

.card__right {
  padding-top: 22px;
  padding-left: 31px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card__right a {
  width: 18px;
  height: 18px;
  margin-top: 6px;
  margin-right: 22px;
}

.card__right svg {
  fill: #575757;
  -webkit-transition: 0.5s fill;
  transition: 0.5s fill;
}

.card__right a:hover svg {
  fill: #f16d7f;
}

.card__form {
  width: 250px;
}

.card__form h3 {
  width: 200px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 41px;
}

.card__form p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.card__form p:not(:last-child) {
  margin-bottom: 6px;
}

.card__form input {
  margin-left: 24px;
  width: 44px;
  padding: 0 15px;
  font-size: 18px;
  line-height: 22px;
  background-color: #fff;
  color: #575757;
  border: 1px solid #a4a4a4;
}

.card__form input:hover, .card__form input:focus, .card__form input:active {
  outline: none;
  border: 1px solid #f16d7f;
}

.card__form input[type='number'] {
  -moz-appearance: textfield;
}

.card__form input::-webkit-outer-spin-button, .card__form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.breadcrump {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.breadcrump__item a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  cursor: pointer;
}

.breadcrump__item a:hover {
  color: #f16d7f;
}

.breadcrump__item a_active {
  color: #f16d7f;
}

.breadcrump__item span {
  margin: 0 5px;
}

.breadcrump__item:last-child a {
  color: #f16d7f;
}

.pagination__list {
  padding: 15px;
  border: 1px solid #ebebeb;
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pagination__item:not(:last-child) {
  margin-right: 18px;
}

.pagination__link {
  color: #c4c4c4;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.pagination__link_active, .pagination__link:hover {
  color: #f16d7f;
}

.pagination__link_prev, .pagination__link_next {
  font-weight: 700;
  color: #000000;
}

.social__media {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.social__media__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  color: #000000;
  background-color: #ffffff;
}

.social__media__btn:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.social__media__btn:not(:last-child) {
  margin-right: 8px;
}

body {
  font-family: 'Lato', sans-serif;
}

details {
  outline: none;
}

.header {
  background-color: #222222;
}

.header__navigation {
  padding: 0 16px;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header .navigation__left, .header .navigation__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header .navigation__logo {
  margin: 17px 41px 17px 0;
}

.header .navigation .logo {
  width: 44px;
  height: 38px;
}

.header .navigation__item:not(:last-child) {
  margin-right: 33px;
}

.header .navigation__item_cart {
  position: relative;
}

.header .navigation__item_cart .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #f16d7f;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
}

.top {
  min-height: calc(100vh - 75px);
  background-color: #f1e4e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.top__container {
  height: calc(100vh - 75px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-image: url("../img/bgtop.png");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: calc(-65% + 75px) bottom;
}

.top__content {
  margin-right: 95px;
}

.top__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  padding-left: 16px;
  border-left: 12px solid #f16d7f;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top__text_bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.offer__content {
  margin: 65px 16px 95px 16px;
}

.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  background-color: #5d5d5d;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.offer__item:not(:last-child) {
  width: 31%;
  height: 260px;
}

.offer__item:last-child {
  margin-top: 30px;
  width: 100%;
  height: 180px;
}

.offer__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.offer__item_women {
  background-image: url("../img/offer-women.png");
}

.offer__item_men {
  background-image: url("../img/offer-men.png");
}

.offer__item_kids {
  background-image: url("../img/offer-kids.png");
}

.offer__item_accessories {
  background-image: url("../img/offer-accessories.png");
}

.offer__title {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.offer__title span {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  display: block;
  color: #f16d7f;
}

.products__inner {
  margin-bottom: 95px;
  z-index: 1;
}

.products__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 48px;
}

.products__title {
  margin-bottom: 6px;
}

.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

.products__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.products__btn {
  line-height: 19px;
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
}

.products__btn:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #ffffff;
}

.feature {
  background-color: #222222;
}

.feature__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.feature__item {
  width: 360px;
  height: 134px;
  margin: 103px 0;
  text-align: center;
}

.feature__title {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  margin: 28px 0 16px 0;
}

.feature__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
}

.subscribe__wrap {
  background-image: url("../img/bgsubscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__content {
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__comment {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  margin-top: 30px;
}

.subscribe__form {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__form__title {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__form__title span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222222;
}

.subscribe__form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__form__content input,
.subscribe__form__content button {
  font-size: 14px;
  line-height: 17px;
  border: 1px solid transparent;
}

.subscribe__form__content input {
  color: #222222;
  opacity: 0.67;
  width: 256px;
  padding: 15px 20px;
  border-radius: 30px 0 0 30px;
}

.subscribe__form__content button {
  padding: 15px 20px;
  color: #ffffff;
  background: #f16d7f;
  border-radius: 0 30px 30px 0;
}

.subscribe__form__content input:focus,
.subscribe__form__content button:focus {
  outline: none;
  border: 1px solid #f16d7f;
}

.footer__inner {
  background-color: #222222;
  color: #ffffff;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navigate__inner {
  background-color: #f8f3f4;
}

.navigate__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navigate__title {
  padding: 60px 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  color: #f16d7f;
}

.filter__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 50px 0 60px 0;
}

.filter__content {
  height: 40px;
  width: 360px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.filter__details {
  cursor: pointer;
  width: 360px;
}

.filter__details[open] {
  position: absolute;
  top: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 2;
}

.filter__details[open] > summary {
  color: #f16d7f;
}

.filter__details[open] > summary svg {
  fill: #f16d7f;
}

.filter__details > summary {
  display: inline;
  font-size: 14px;
  line-height: 17px;
}

.filter__details > summary:hover,
.filter__details > summary:hover svg {
  color: #f16d7f;
  fill: #f16d7f;
}

.filter__details > summary svg {
  fill: #6f6e6e;
  margin-left: 5px;
}

.filter__details summary {
  list-style: none;
  font-size: 14px;
  line-height: 17px;
  padding: 11px;
  color: #6f6e6e;
}

.filter__details summary::-webkit-details-marker {
  display: none;
  outline: none;
}

.filter__details__content {
  padding: 16px;
  z-index: 2;
}

.filter__details__item[open] > summary {
  color: #f16d7f;
}

.filter__details__item > summary {
  text-transform: uppercase;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
}

.filter__details__item > summary:hover {
  color: #f16d7f;
}

.filter__details__item:not(:last-child) > summary {
  margin-bottom: 20px;
}

.filter .category__list {
  list-style-type: none;
  margin: 24px 0;
  padding-left: 12px;
}

.filter .category__list__item {
  margin: 11px;
}

.filter .category__list__item .category__link,
.filter .category__list__item .category__link:visited {
  color: #6f6e6e;
}

.filter .category__list__item .category__link:hover {
  color: #f16d7f;
}

.filter .sorting {
  list-style-type: none;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.filter .sorting__item {
  cursor: pointer;
}

.filter .sorting__item i {
  margin: 0 10px;
}

.filter .sorting__item:not(:last-child) {
  margin-right: 28px;
}

.filter .sorting__details {
  position: relative;
}

.filter .sorting__details > summary {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  list-style: none;
}

.filter .sorting__details > summary:hover {
  color: #f16d7f;
}

.filter .sorting__details > summary::-webkit-details-marker {
  display: none;
}

.filter .size__content {
  position: absolute;
  top: 25px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 2;
  background: #ffffff;
  padding: 7px 9px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter .size__content .size__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.filter .size__content .size__item:not(:last-child) {
  margin-bottom: 6px;
}

.filter .size__content .size__item input {
  margin-right: 9px;
}

.filter .size__content .size__item p {
  color: #6f6e6e;
}

.products__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 96px;
}

.carousel {
  position: relative;
  background: #f7f7f7;
}

.carousel__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.carousel__btn {
  width: 47px;
  height: 47px;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: rgba(42, 42, 42, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel__btn:hover {
  color: #f16d7f;
}

.carousel__btn_prev {
  left: 0;
}

.carousel__btn_next {
  right: 0;
}

.desc__wrap {
  background-color: #ffffff;
  position: relative;
  margin-top: -50px;
  padding: 65px 0;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
}

.desc__content {
  padding-bottom: 65px;
  width: 640px;
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.desc__content .collection {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.desc__content > hr {
  margin: 12px 0;
  width: 63px;
  border: none;
  height: 3px;
  background: #f16d7f;
}

.desc__content .name {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  margin-bottom: 48px;
}

.desc__content .description {
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-bottom: 32px;
}

.desc__content .price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.desc .settings {
  margin: 65px 0 48px 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.desc .settings__item a {
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.desc .settings__item a:hover {
  color: #f16d7f;
}

.desc .settings__item i {
  margin: 0 10px;
}

.desc .settings__item:not(:last-child) {
  margin-right: 30px;
}

.desc__btn {
  line-height: 19px;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.desc__btn svg {
  margin-right: 23px;
  fill: #f16d7f;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.desc__btn:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #ffffff;
}

.desc__btn:hover svg {
  fill: #ffffff;
}

.products__inner_margin {
  margin: 128px 0;
}

.order__inner {
  margin: 96px 0 128px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.order__products {
  width: 650px;
}

.order__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.order__card {
  cursor: default;
  width: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.order__card__price {
  font-size: 22px;
  line-height: 26px;
}

.order__card:not(:last-child) {
  margin-bottom: 40px;
}

.order__buttons {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.order__btn {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #a4a4a4;
}

.order__btn:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}

.order__shipping .shipping__form {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.order__shipping h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.order__shipping .shipping__input {
  width: 100%;
  padding: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  background-color: #ffffff;
  color: #222222;
  border: 1px solid #a4a4a4;
}

.order__shipping .shipping__input:hover, .order__shipping .shipping__input:focus, .order__shipping .shipping__input:active {
  outline: none;
  border: 1px solid #f16d7f;
}

.order__shipping .shipping__input:not(:last-child) {
  margin-bottom: 20px;
}

.order__shipping .shipping__btn {
  border: 1px solid #a4a4a4;
  background-color: #ffffff;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #a4a4a4;
}

.order__shipping .shipping__btn:hover {
  border-color: #f16d7f;
  color: #f16d7f;
}

.order__price {
  margin-top: 57px;
  padding: 40px 44px;
  background: #f5f3f3;
}

.order__price .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 1px solid #e2e2e2;
}

.order__price .price__subtotal {
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  margin-bottom: 12px;
}

.order__price .price span {
  margin-left: 20px;
}

.order__price .price__grandtotal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px;
}

.order__price .price__grandtotal span {
  font-weight: 700;
  color: #f16d7f;
}

.order__price .price__btn {
  margin-top: 17px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #f16d7f;
}

.order__price .price__btn:hover {
  color: #f16d7f;
  background-color: transparent;
  border: 1px solid #f16d7f;
}

.registration__inner {
  margin: 64px 0 96px 0;
}

.registration__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.registration__form {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.registration__form .user__data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 15px;
}

.registration__form .user__data h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration__form .gender {
  margin: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.registration__form .gender__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.registration__form .gender__item input {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.registration__form .gender__item label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.registration__form .gender__item:not(:last-child) {
  margin-right: 20px;
}

.registration__input {
  width: 100%;
  padding: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  background-color: #ffffff;
  color: #b1b1b1;
  border: 1px solid #a19595;
}

.registration__input:hover, .registration__input:focus, .registration__input:active {
  outline: none;
  border: 1px solid #f16d7f;
}

.registration__input:not(:last-child) {
  margin-bottom: 20px;
}

.registration__help {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin-bottom: 44px;
}

.registration__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  width: 166px;
  padding: 16px 30px;
  background-color: #f16d7f;
  color: #ffffff;
}

.registration__btn svg {
  fill: #ffffff;
}

.registration__btn:hover {
  width: 180px;
}

.registration__desc {
  width: 650px;
}

.registration__desc, .registration__title, .registration__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__title, .registration__text {
  margin-bottom: 22px;
}

.registration__title {
  text-transform: uppercase;
}

.registration__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style-position: inside;
  list-style-image: url("../../../img/registration_check.svg");
}

.registration__item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__item span {
  padding-left: 23px;
}

.registration__item:not(:last-child) {
  margin-bottom: 16px;
}
/*# sourceMappingURL=style.css.map */