@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.header {
  background-color: #222222;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-left,
.navigation-right {
  display: flex;
  align-items: center;
}

.logo {
  margin: 18px 41px 19px 0;
}

.navigation-item:not(:last-child) {
  margin: 0 33px 0 0;
}

.cart {
  position: relative;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #f16d7f;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.top {
  height: 764px;
  background-color: #f1e4e6;
}

.top-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url('../img/bgtop.png');
  background-repeat: no-repeat;
  background-position: -230px center;
}

.top-content {
  width: 405px;
  margin-right: 95px;
}

.top-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  padding-left: 16px;
  border-left: 12px solid #f16d7f;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text-bold {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}

.text-color {
  color: #f16d7f;
}

.offer {
  margin: 65px 0 95px 0;
}

.offer-group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.offer-item {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #5d5d5d;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.offer-item:not(:last-child) {
  width: 360px;
  height: 260px;
}

.offer-item:last-child {
  width: 100%;
  height: 180px;
}

.offer-women {
  background-image: url('../img/offer-women.png');
}

.offer-men {
  background-image: url('../img/offer-men.png');
}

.offer-kids {
  background-image: url('../img/offer-kids.png');
}

.offer-accessories {
  background-image: url('../img/offer-accessories.png');
}

.offer-title {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.offer-title span {
  font-size: 24px;
  font-weight: 700;
  display: block;
}

.products {
  margin-bottom: 95px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  color: #222222;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 6px;
}

.section-subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.product-cards {
  margin: 48px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product-card {
  cursor: pointer;
  width: 360px;
  background-color: #f8f8f8;
}

.card-image {
  position: relative;
  width: 360px;
  height: 420px;
}

.card-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(58, 56, 56, 0.86);
}

.card-hover button {
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.card-hover p {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
}

.card-body {
  margin: 25px 0 20px 16px;
  text-align: start;
}

.card-title {
  display: block;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 12px;
}

.card-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
}

.price {
  font-size: 16px;
  line-height: 19px;
}

.product-card:hover .card-hover {
  opacity: 1;
}

.card-hover button:hover {
  border-color: #f16d7f;
}

.btn {
  padding: 15px 40px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #ff6a6a;
}

.btn:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #fff;
}

.feature {
  background-color: #222224;
}

.feature-wrap {
  display: flex;
  justify-content: space-around;
}

.feature-item {
  width: 360px;
  height: 134px;
  margin: 103px 0;
  text-align: center;
}

.feature-title {
  margin: 28px 0 16px 0;
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
}

.feature-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
}

.subscribe {
  background-image: url('../img/bgsubscribe.jpg');
  background-size: cover;
}

.subscribe-wrap {
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-comment {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe-form {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
  text-align: center;
  margin-bottom: 39px;
}

.subscribe-form-title span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
}

.subscribe-form-input {
  height: 50px;
  background: #e1e1e1;
  width: 256px;
  padding: 7px 22px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 30px 0 0 30px;
}

.subscribe-form-btn {
  height: 50px;
  padding: 10px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #f16d7f;
  border: 2px solid transparent;
  border-radius: 0 30px 30px 0;
}

.subscribe-form-input:focus,
.subscribe-form-btn:focus {
  outline: none;
  border: 2px solid #f16d7f;
}

.footer {
  background-color: #222224;
  color: #fff;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-buttons {
  margin: 24px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-btn {
  width: 32px;
  height: 32px;
  border: none;
  text-decoration: none;
  background-color: #fff;
}

.social-btn:hover {
  background-color: #f16d7f;
  color: #fff;
}
