.btn {
  cursor: pointer;
  font-size: 16px;
  padding: 15px 40px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.5s all ease-in-out;

  &--products {
    line-height: 19px;
    color: $mainColor;
    border: 1px solid #ff6a6a;

    &:hover {
      background-color: $mainColor;
      border: 1px solid $mainColor;
      color: $colorWhite;
    }
  }

  &--subscribe {
    padding: 15px 20px;
    font-size: 14px;
    color: $colorWhite;
    background: $mainColor;
    border: 2px solid transparent;
    border-radius: 0 30px 30px 0;
  }

  &--social_media {
    @include dflex($align: center, $justify: center);
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    color: $colorBlack;
    text-decoration: none;
    background-color: $colorWhite;

    &:hover {
      background-color: $mainColor;
      color: $colorWhite;
    }
  }

  &--carousel {
    width: 47px;
    height: 47px;
    color: $colorBlack;
    border: none;
    outline: none;
    background: rgba(42, 42, 42, 0.15);
    @include dflex($align: center, $justify: center);
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      color: $mainColor;
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }
  }

  &--cart {
    border: 1px solid #a4a4a4;

    &:hover {
      background-color: $mainColor;
      color: $colorWhite;
      border: 1px solid $mainColor;
    }
  }

  &--color {
    font-weight: 300;
    background-color: $mainColor;
    color: $colorWhite;

    &:hover {
      background-color: $colorWhite;
      border: 1px solid $mainColor;
      color: $mainColor;
    }
  }

  &--registration {
    @include dflex($align: center, $justify: space-between);
    position: relative;
    width: 166px;
    margin-top: 40px;
    padding: 16px 30px;

    & svg {
      fill: $colorWhite;
    }

    &:hover {
      background-color: $mainColor;
      color: $colorWhite;
      width: 180px;
    }
  }
}
