.details {
  & > summary {
    list-style: none;
    font-size: 14px;
    line-height: 17px;
    padding: 11px;
    color: $detailsText;
  }

  &[open] > summary,
  & > summary:hover {
    color: #ef5b70;
  }

  &--filter {
    position: relative;
    background-color: $colorWhite;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: $colorBlack;
    font-size: 14px;

    & svg {
      fill: $detailsText;
      margin-left: 5px;
    }

    &[open] svg,
    &:hover svg {
      fill: $mainColor;
    }
  }

  &__content {
    width: 360px;
    position: absolute;
    background: $colorWhite;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 16px;
    z-index: 2;
  }

  &__category > summary,
  &__brand > summary {
    margin-bottom: 18px;
  }

  &__category > summary,
  &__brand > summary,
  &__designer > summary {
    border-left: 5px solid $mainColor;
    border-bottom: 1px solid $borderBottomDetails;
  }

  .category__list {
    list-style-type: none;
    margin: 24px 0;
    padding-left: 12px;

    &__item {
      margin: 11px;

      .category__link,
      .category__link:visited {
        color: $detailsText;
      }

      .category__link:hover {
        color: $mainColor;
      }
    }
  }
}
