.pagination {
  padding: 15px;
  border: 1px solid $paginationBorder;
  list-style-type: none;
  display: inline-flex;
  gap: 15px;

  .page__link {
    color: $paginationLink;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    &--active,
    &:hover {
      color: $mainColor;
    }

    .prev__page,
    .last__page {
      color: $colorBlack;
    }
  }
}
