@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1160px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.text {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.text_bold {
  font-weight: 900;
}

.text_color {
  color: #f16d7f;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  padding: 15px 40px;
  border: 1px solid transparent;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.input {
  background: #e1e1e1;
}

input[type='radio']:checked,
input[type='radio']:not(:checked) {
  position: absolute;
  left: -1000px;
}

input[type='radio']:checked + label,
input[type='radio']:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type='radio']:checked + label:before,
input[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #a4a4a4;
  background-color: #ffffff;
}

input[type='radio']:checked + label:before,
input[type='radio']:not(:checked) + label:before {
  border-radius: 100%;
}

input[type='radio']:checked + label:after,
input[type='radio']:not(:checked) + label:after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type='radio']:checked + label:after,
input[type='radio']:not(:checked) + label:after {
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #f16d7f;
}

input[type='radio']:not(:checked) + label:after {
  opacity: 0;
}

input[type='radio']:checked + label:after {
  opacity: 1;
}

.card {
  cursor: pointer;
  width: 360px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_vertical:hover .card__overlay {
  opacity: 1;
}

.card__image {
  position: relative;
  width: 360px;
  height: 420px;
}

.card__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: rgba(58, 56, 56, 0.86);
  -webkit-transition: 0.5s opacity ease-in-out;
  transition: 0.5s opacity ease-in-out;
}

.card__overlay button {
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.card__overlay button svg {
  width: 26px;
  height: 24px;
  margin-right: 12px;
  fill: #ffffff;
}

.card__overlay button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 16px 20px 16px;
}

.card__body a:focus,
.card__body a:visited {
  color: #000000;
}

.card__bottom {
  margin: 0 0 20px 16px;
}

.card__title {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  display: block;
  margin-bottom: 12px;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.card__title:hover {
  color: #f16d7f;
}

.card__text {
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.card__price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.card__left {
  height: 306px;
}

.card__left img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

.card__right {
  padding-top: 22px;
  padding-left: 31px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card__right a {
  width: 18px;
  height: 18px;
  margin-top: 6px;
  margin-right: 22px;
}

.card__right svg {
  fill: #575757;
  -webkit-transition: 0.5s fill;
  transition: 0.5s fill;
}

.card__right a:hover svg {
  fill: #f16d7f;
}

.card__form {
  width: 250px;
}

.card__form h3 {
  width: 200px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 41px;
}

.card__form p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.card__form p:not(:last-child) {
  margin-bottom: 6px;
}

.card__form input {
  margin-left: 24px;
  width: 44px;
  padding: 0 15px;
  font-size: 18px;
  line-height: 22px;
  background-color: #fff;
  color: #575757;
  border: 1px solid #a4a4a4;
}

.card__form input:hover, .card__form input:focus, .card__form input:active {
  outline: none;
  border: 1px solid #f16d7f;
}

.card__form input[type='number'] {
  -moz-appearance: textfield;
}

.card__form input::-webkit-outer-spin-button, .card__form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.breadcrump {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.breadcrump__item a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  cursor: pointer;
}

.breadcrump__item a:hover {
  color: #f16d7f;
}

.breadcrump__item a_active {
  color: #f16d7f;
}

.breadcrump__item span {
  margin: 0 5px;
}

.breadcrump__item:last-child a {
  color: #f16d7f;
}

.pagination__list {
  padding: 15px;
  border: 1px solid #ebebeb;
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pagination__item:not(:last-child) {
  margin-right: 18px;
}

.pagination__link {
  color: #c4c4c4;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.pagination__link_active, .pagination__link:hover {
  color: #f16d7f;
}

.pagination__link_prev, .pagination__link_next {
  font-weight: 700;
  color: #000000;
}

.social__media {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.social__media__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  color: #000000;
  background-color: #ffffff;
}

.social__media__btn:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.social__media__btn:not(:last-child) {
  margin-right: 8px;
}

.cart {
  display: block;
  width: 400px;
  position: absolute;
  top: 60px;
  right: 150px;
  background: #f5f3f3;
  padding: 15px 20px;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 8px 0px #4a4a4a;
          box-shadow: 0px 0px 8px 0px #4a4a4a;
}

.cart__empty {
  font-size: 18px;
  padding: 10px 0 20px 0;
  color: #575757;
  border-bottom: 1px solid #e2e2e2;
}

.cart__title {
  margin-bottom: 15px;
  color: #f16d7f;
}

.cart__list {
  list-style-type: none;
  border-bottom: 1px solid #e2e2e2;
}

.cart__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
  padding-right: 75px;
}

.cart__total-price span {
  margin-left: 10px;
  font-weight: 900;
}

.cart__btn-delete {
  position: absolute;
  right: 20px;
  cursor: pointer;
  border: none;
  padding: 10px;
  margin-left: 20px;
  font-size: 16px;
  background: transparent;
  color: #d4122c;
}

.cart__bottom {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__btn-open {
  cursor: pointer;
  border: none;
  font-weight: 300;
  background: transparent;
  color: #f16d7f;
  padding: 10px 15px;
  border: 1px solid #f16d7f;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.cart__btn-open:hover {
  color: #ffffff;
  background: #f16d7f;
}

.product__img {
  width: 70px;
}

.product__name {
  width: 100px;
  font-size: 15px;
  font-weight: 400;
  margin-left: 12px;
}

.product__counts,
.product__price,
.product__total-price {
  margin-left: 15px;
  font-size: 14px;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr min-content;
      grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
      grid-template-rows: min-content 1fr min-content;
}

details {
  outline: none;
}

.header {
  background-color: #222222;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header .navigation__left, .header .navigation__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header .navigation__logo {
  margin: 17px 41px 17px 0;
}

.header .navigation .logo {
  width: 44px;
  height: 38px;
}

.header .navigation__item {
  cursor: pointer;
  fill: #e8e8e8;
}

.header .navigation__item:hover {
  fill: #f16d7f;
}

.header .navigation__item:not(:last-child) {
  margin-right: 33px;
}

.header .navigation__btn {
  cursor: pointer;
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
}

.header .navigation__item_cart {
  position: relative;
}

.header .navigation__item_cart .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #f16d7f;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
}

.header .menu {
  display: none;
  position: absolute;
  overflow-y: auto;
  top: 75px;
  right: 0;
  width: 230px;
  height: calc(100vh - 75px);
  background-color: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 2;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.header .menu__wrap {
  position: relative;
  padding: 34px 37px;
}

.header .menu__btn_close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #6f6e6e;
}

.header .menu__btn_close:hover {
  color: #000000;
}

.header .menu__title, .header .menu__category {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
}

.header .menu__title {
  font-weight: bold;
  color: #000000;
  margin-bottom: 24px;
}

.header .menu__category {
  color: #f16d7f;
  font-weight: 400;
  margin-bottom: 12px;
}

.header .menu__list {
  list-style: none;
  margin: 0 0 20px 20px;
}

.header .menu__item {
  cursor: pointer;
  color: #6f6e6e;
}

.header .menu__item:hover {
  color: #f16d7f;
}

.header .menu__item:not(:last-child) {
  margin-bottom: 11px;
}

.header .menu__open {
  display: block;
}

.top {
  min-height: calc(100vh - 75px);
  background-color: #f1e4e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.top__container {
  max-width: 1160px;
  width: 100%;
  height: calc(100vh - 75px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-image: url("../img/bgtop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -100px bottom;
}

.top__content {
  max-width: 401px;
  margin-right: 95px;
}

.top__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  padding-left: 16px;
  border-left: 12px solid #f16d7f;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top__text_bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.offer__content {
  margin: 65px 16px 95px 16px;
}

.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  background-color: #5d5d5d;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.offer__item:not(:last-child) {
  width: 31%;
  height: 260px;
}

.offer__item:last-child {
  margin-top: 30px;
  width: 100%;
  height: 180px;
}

.offer__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.offer__item_women {
  background-image: url("../img/offer-women.png");
}

.offer__item_men {
  background-image: url("../img/offer-men.png");
}

.offer__item_kids {
  background-image: url("../img/offer-kids.png");
}

.offer__item_accessories {
  background-image: url("../img/offer-accessories.png");
}

.offer__title {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.offer__title span {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  display: block;
  color: #f16d7f;
}

.products__inner {
  margin-bottom: 95px;
  z-index: 1;
}

.products__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 48px;
}

.products__title {
  margin-bottom: 6px;
}

.products__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  justify-items: center;
}

.products__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 48px;
}

.products__btn {
  line-height: 19px;
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
}

.products__btn:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #ffffff;
}

.feature {
  background-color: #222222;
}

.feature__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.feature__item {
  width: 360px;
  height: 134px;
  margin: 103px 0;
  text-align: center;
}

.feature__title {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  margin: 28px 0 16px 0;
}

.feature__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
}

.subscribe__wrap {
  background-image: url("../img/bgsubscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__content {
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__comment {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  margin-top: 30px;
}

.subscribe__form {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__form__title {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__form__title span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222222;
}

.subscribe__form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__form__content input,
.subscribe__form__content button {
  font-size: 14px;
  line-height: 17px;
  border: 1px solid transparent;
}

.subscribe__form__content input {
  color: #222222;
  opacity: 0.67;
  width: 256px;
  padding: 15px 20px;
  border-radius: 30px 0 0 30px;
}

.subscribe__form__content button {
  padding: 15px 20px;
  color: #ffffff;
  background: #f16d7f;
  border-radius: 0 30px 30px 0;
}

.subscribe__form__content button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.subscribe__form__content input:hover,
.subscribe__form__content input:focus,
.subscribe__form__content button:focus {
  outline: none;
  border: 1px solid #f16d7f;
}

.footer__inner {
  background-color: #222222;
  color: #ffffff;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 1160px) {
  .products__wrap {
    max-width: 768px;
  }
  .products__inner {
    margin-bottom: 64px;
  }
  .products__content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
  }
  .products__buttons {
    margin-top: 32px;
  }
  .feature__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature__item {
    margin: 48px 0;
  }
  .feature__item:last-child {
    margin-bottom: 64px;
  }
  .subscribe__wrap {
    padding: 64px 0 140px 0;
  }
  .subscribe__content {
    min-height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__comment {
    margin-bottom: 48px;
  }
  .subscribe__form {
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .top__text_bold {
    font-size: 44px;
    line-height: 53px;
  }
  .top__title {
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (max-width: 920px) {
  .top__container {
    background-position: -150px bottom;
  }
  .top__content {
    margin-right: 3%;
  }
}

@media screen and (max-width: 767px) {
  .navigation__right a {
    display: none;
  }
  .header .navigation__item:not(:last-child) {
    margin-right: 0;
  }
  .top__container {
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top__text_bold {
    font-size: 38px;
    line-height: 46px;
  }
  .top__title {
    font-size: 20px;
    line-height: 24px;
  }
  .offer__item:not(:last-child) {
    width: 100%;
    margin-bottom: 32px;
  }
  .offer__item:last-child {
    margin-top: 0;
  }
  .products__content {
    -webkit-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright {
    margin-bottom: 10px;
  }
}

.navigate__inner {
  background-color: #f8f3f4;
}

.navigate__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navigate__title {
  margin: 60px 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  color: #f16d7f;
}

.filter__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 60px 0;
}

.filter__content {
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.filter__details {
  cursor: pointer;
}

.filter__details[open] {
  width: 360px;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 2;
}

.filter__details[open] > summary {
  color: #f16d7f;
}

.filter__details[open] > summary svg {
  fill: #f16d7f;
}

.filter__details > summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
}

.filter__details > summary:hover,
.filter__details > summary:hover svg {
  color: #f16d7f;
  fill: #f16d7f;
}

.filter__details > summary svg {
  fill: #6f6e6e;
  margin-left: 5px;
}

.filter__details summary {
  list-style: none;
  font-size: 14px;
  line-height: 17px;
  padding: 11px;
  color: #6f6e6e;
}

.filter__details summary::-webkit-details-marker {
  display: none;
  outline: none;
}

.filter__details__content {
  padding: 16px;
  z-index: 2;
}

.filter__details__item[open] > summary {
  color: #f16d7f;
}

.filter__details__item > summary {
  text-transform: uppercase;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
}

.filter__details__item > summary:hover {
  color: #f16d7f;
}

.filter__details__item:not(:last-child) > summary {
  margin-bottom: 20px;
}

.filter .category__list {
  list-style-type: none;
  margin: 24px 0;
  padding-left: 12px;
}

.filter .category__list__item {
  margin: 11px;
}

.filter .category__list__item .category__link,
.filter .category__list__item .category__link:visited {
  color: #6f6e6e;
}

.filter .category__list__item .category__link:hover {
  color: #f16d7f;
}

.filter .sorting {
  justify-self: flex-end;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.filter .sorting__item {
  cursor: pointer;
}

.filter .sorting__item i {
  margin: 0 10px;
}

.filter .sorting__item:not(:last-child) {
  margin-right: 28px;
}

.filter .sorting__details {
  position: relative;
}

.filter .sorting__details > summary {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  list-style: none;
}

.filter .sorting__details > summary:hover {
  color: #f16d7f;
}

.filter .sorting__details > summary::-webkit-details-marker {
  display: none;
}

.filter .size__content {
  position: absolute;
  top: 25px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 2;
  background: #ffffff;
  padding: 7px 9px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter .size__content .size__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.filter .size__content .size__item:not(:last-child) {
  margin-bottom: 6px;
}

.filter .size__content .size__item input {
  margin-right: 9px;
}

.filter .size__content .size__item p {
  color: #6f6e6e;
}

.products__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 96px;
}

@media screen and (max-width: 1160px) {
  .filter__inner {
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
  }
  .filter .sorting {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .card_hide {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .filter__inner {
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
  }
  .filter .sorting {
    justify-self: flex-end;
  }
  .products__pagination {
    margin-bottom: 64px;
  }
  .filter .sorting__item:not(:last-child) {
    margin-right: 23px;
  }
  .filter__details span {
    display: none;
  }
  .filter__details > summary svg {
    width: 35px;
    height: 25px;
  }
  .navigate__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigate__title {
    margin: 24px 0 32px 0;
  }
  .navigate__title_alone {
    margin: 60px 0;
  }
  .navigate__content nav {
    margin-bottom: 46px;
  }
  .filter .sorting__details > summary {
    font-size: 13px;
  }
  .filter .sorting__item i {
    margin: 0 3px;
  }
}

.carousel {
  position: relative;
  background: #f7f7f7;
}

.carousel__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.carousel__image > img {
  height: auto;
}

.carousel__btn {
  width: 47px;
  height: 47px;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: rgba(42, 42, 42, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel__btn:hover {
  color: #f16d7f;
}

.carousel__btn_prev {
  left: 0;
}

.carousel__btn_next {
  right: 0;
}

.desc__wrap {
  background-color: #ffffff;
  position: relative;
  margin-top: -50px;
  padding: 65px 0;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
}

.desc__content {
  padding-bottom: 65px;
  max-width: 640px;
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.desc__content .collection {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.desc__content > hr {
  margin: 12px 0;
  width: 63px;
  border: none;
  height: 3px;
  background: #f16d7f;
}

.desc__content .name {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  margin-bottom: 48px;
}

.desc__content .description {
  max-width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-bottom: 32px;
}

.desc__content .price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.desc .settings {
  margin: 65px 0 48px 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.desc .settings__item a {
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.desc .settings__item a:hover {
  color: #f16d7f;
}

.desc .settings__item i {
  margin: 0 10px;
}

.desc .settings__item:not(:last-child) {
  margin-right: 30px;
}

.desc__btn {
  line-height: 19px;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.desc__btn svg {
  margin-right: 23px;
  fill: #f16d7f;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.desc__btn:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #ffffff;
}

.desc__btn:hover svg {
  fill: #ffffff;
}

.products__inner_margin {
  margin: 128px 0;
}

@media screen and (max-width: 767px) {
  .container_hide {
    padding: 0;
  }
  .desc__wrap {
    margin-top: 0;
  }
  .desc .settings__item a {
    font-size: 10px;
    line-height: 12px;
  }
  .products__inner_margin {
    margin: 64px 0;
  }
}

.order__inner {
  margin: 96px 0 128px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.order__products {
  width: 650px;
}

.order__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.order__card {
  cursor: default;
  width: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.order__card__price {
  font-size: 22px;
  line-height: 26px;
}

.order__card:not(:last-child) {
  margin-bottom: 40px;
}

.order__buttons {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.order__btn {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #a4a4a4;
}

.order__btn:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}

.order__shipping .shipping__form {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.order__shipping .shipping__content {
  min-width: 360px;
}

.order__shipping h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.order__shipping .shipping__input {
  width: 100%;
  padding: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  background-color: #ffffff;
  color: #222222;
  border: 1px solid #a4a4a4;
}

.order__shipping .shipping__input:hover, .order__shipping .shipping__input:focus, .order__shipping .shipping__input:active {
  outline: none;
  border: 1px solid #f16d7f;
}

.order__shipping .shipping__input:not(:last-child) {
  margin-bottom: 20px;
}

.order__shipping .shipping__btn {
  border: 1px solid #a4a4a4;
  background-color: #ffffff;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #a4a4a4;
}

.order__shipping .shipping__btn:hover {
  border-color: #f16d7f;
  color: #f16d7f;
}

.order__price {
  margin-top: 57px;
  padding: 40px 44px;
  background: #f5f3f3;
}

.order__price .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 1px solid #e2e2e2;
}

.order__price .price__subtotal {
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  margin-bottom: 12px;
}

.order__price .price span {
  margin-left: 20px;
}

.order__price .price__grandtotal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px;
}

.order__price .price__grandtotal span {
  font-weight: 700;
  color: #f16d7f;
}

.order__price .price__btn {
  margin-top: 17px;
  font-weight: 300;
  font-size: 16px;
  white-space: nowrap;
  line-height: 19px;
  color: #ffffff;
  background-color: #f16d7f;
}

.order__price .price__btn:hover {
  color: #f16d7f;
  background-color: transparent;
  border: 1px solid #f16d7f;
}

@media screen and (max-width: 1160px) {
  .order__inner {
    margin: 60px 0 128px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order__shipping {
    margin-top: 64px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order__shipping .shipping__form {
    width: 735px;
  }
  .shipping__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .order__price {
    margin: 0 0 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .order__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order__btn:not(:last-child) {
    margin-right: 48px;
  }
}

@media screen and (max-width: 750px) {
  .shipping__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order__shipping .shipping__form {
    width: 360px;
  }
  .order__products {
    width: unset;
    max-width: 650px;
  }
  .card__left {
    height: 188px;
  }
  .card__form h3 {
    width: 135px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }
  .card__form p,
  .order__card__price {
    font-size: 14px;
    line-height: 17px;
  }
  .order__buttons {
    margin-top: 30px;
  }
  .order__btn {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 18px;
  }
  .order__btn:not(:last-child) {
    margin-right: 9px;
  }
  .order__price {
    margin: 48px 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .card__right {
    padding-top: 14px;
    padding-left: 17px;
  }
  .card__form {
    width: unset;
  }
}

.registration__inner {
  margin: 64px 0 96px 0;
}

.registration__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.registration__form {
  width: 360px;
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.registration__form .user__data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.registration__form .user__data h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration__form .gender {
  margin: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.registration__form .gender__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.registration__form .gender__item input {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.registration__form .gender__item label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.registration__form .gender__item:not(:last-child) {
  margin-right: 20px;
}

.registration__input {
  width: 100%;
  padding: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  background-color: #ffffff;
  color: #b1b1b1;
  border: 1px solid #a19595;
}

.registration__input:hover, .registration__input:focus, .registration__input:active {
  outline: none;
  border: 1px solid #f16d7f;
}

.registration__input:not(:last-child) {
  margin-bottom: 20px;
}

.registration__help {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin: 15px 0 44px 0;
}

.registration__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  width: 166px;
  padding: 16px 30px;
  background-color: #f16d7f;
  color: #ffffff;
}

.registration__btn svg {
  fill: #ffffff;
}

.registration__btn:hover {
  width: 180px;
}

.registration__desc {
  max-width: 650px;
}

.registration__item, .registration__title, .registration__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__title, .registration__text {
  margin-bottom: 22px;
}

.registration__title {
  text-transform: uppercase;
}

.registration__list {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style-image: url("../../../img/registration_check.svg");
}

.registration__item {
  padding-left: 23px;
}

.registration__item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (max-width: 1100px) {
  .registration__help {
    margin-bottom: 39px;
  }
  .registration__desc {
    margin-left: 22px;
  }
  .registration__item,
  .registration__title,
  .registration__text {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 750px) {
  .registration__inner {
    margin-top: 40px;
  }
  .registration__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .registration__desc {
    margin: 40px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */