//-----COLORS----------------
// main colors
$mainColor: #f16d7f;
$textWhite: #ffffff;
$textBlack: #000000;

// text colors
$topTitle: #222222;
$productsSubTitle: #9f9f9f;
$textCard: #5d5d5d;
$textFeature: #fbfbfb;
$textSubscribe: #222222;
$textBreadcrump: #636363;
$textDetails: #6f6e6e;
$textPagination: #c4c4c4;
$textDescName: #4d4d4d;
$textDescDescription: $textDetails;
$textOrderCard: #575757;
$textOrderPrice: #4a4a4a;
$textInput: #b1b1b1;

$borderPagination: #ebebeb;
$borderBottomDetails: #ebebeb;
$borderDesc: #eaeaea;
$borderOrderButton: #a4a4a4;
$borderOrderInput: $borderOrderButton;
$borderOrderPrice: #e2e2e2;

// background colors
$bgHeader: #222222;
$bgTop: #f1e4e6;
$bgOfferItem: #5d5d5d;
$bgFeature: $bgHeader;
$bgFooter: $bgHeader;
$bgNavigate: #f8f3f4;
$bgOrderPrice: #f5f3f3;

$bgCard: #f8f8f8;
$bgInput: #e1e1e1;
$bgDetails: #ffffff;
$bgCarousel: #f7f7f7;
$bgDesc: #ffffff;
