.cart {
  display: none;
  width: 400px;
  position: absolute;
  top: 60px;
  right: 150px;
  background: $bgOrderPrice;
  padding: 15px 20px;
  z-index: 1;
  box-shadow: 0px 0px 8px 0px #4a4a4a;

  &--open {
    display: block;
  }

  &__empty {
    font-size: 18px;
    padding: 10px 0 20px 0;
    color: $textOrderCard;
    border-bottom: 1px solid $borderOrderPrice;
  }

  &__title {
    margin-bottom: 15px;
    color: $mainColor;
  }

  &__list {
    display: none;
    list-style-type: none;
    border-bottom: 1px solid $borderOrderPrice;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $borderOrderPrice;
    margin-bottom: 10px;
    padding-right: 75px;
  }

  &__total-price {
    span {
      margin-left: 10px;
      font-weight: 900;
    }
  }

  &__btn-delete {
    position: absolute;
    right: 20px;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-left: 20px;
    font-size: 16px;
    background: transparent;
    color: #d4122c;
  }

  &__bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &__btn-open {
    cursor: pointer;
    border: none;
    font-weight: 300;
    background: transparent;
    color: #f16d7f;
    padding: 10px 15px;
    border: 1px solid #f16d7f;
    transition: 0.5s all ease-in-out;

    &:hover {
      color: $textWhite;
      background: $mainColor;
    }
  }
}

.product__img {
  width: 70px;
}

.product__name {
  width: 100px;
  font-size: 15px;
  font-weight: 400;
  margin-left: 12px;
}

.product__counts,
.product__price,
.product__total-price {
  margin-left: 15px;
}
