.footer {
  background-color: $bgFooter;
  color: $colorWhite;

  &__wrap {
    @include dflex($align: center, $justify: space-between);
  }

  .social__media {
    margin: 24px 0;
    @include dflex($align: center, $gap: 8px);
  }
}
