.registration {
  margin: 64px 0 96px 0;

  &__wrap {
    @include dflex($justify: space-between);
  }

  &__form {
    width: 360px;
    @include dflex($direction: column);

    .block__form {
      @include dflex($direction: column, $gap: 20px);
      margin-bottom: 15px;
    }
  }

  .gender {
    margin: 32px 0;
    @include dflex($gap: 20px);

    &__item {
      @include dflex($align: center, $gap: 10px);

      input {
        width: 17px;
        height: 17px;
      }

      label {
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
      }
    }
  }

  &__text {
    @include dflex($direction: column, $gap: 20px);
    width: 650px;
  }

  &__list {
    @include dflex($direction: column, $gap: 16px);
    list-style-position: inside;
    list-style-image: url('../../../img/registration_check.svg');
  }

  &__item {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    & span {
      padding-left: 23px;
    }
  }
}
