// text colors
$textColor: #000000;
$textCardVerticaly: #5d5d5d;
$titleFeature: #fbfbfb;
$textFeature: #fbfbfb;
$textSubscribe: #222222;
$titleColor: #222222;
$subTitleColor: #9f9f9f;
$textBreadcrumpItem: #636363;
$detailsText: #6f6e6e;
$textMuted: #b1b1b1;

$paginationBorder: #ebebeb;
$paginationLink: #c4c4c4;
$borderBottomDetails: #ebebeb;
$borderProductInfo: #eaeaea;
$productName: #4d4d4d;
$productDescription: #5e5e5e;
$productSettings: #6f6e6e;

// main colors
$mainColor: #f16d7f;
$colorWhite: #ffffff;
$colorBlack: #000000;

// background colors
$bgHeaderColor: #222222;
$bgTopColor: #f1e4e6;
$bgCardColor: #f8f8f8;
$bgFeatureColor: $bgHeaderColor;
$bgInput: #e1e1e1;
$bgFooter: $bgHeaderColor;
$bgNavigate: #f8f3f4;
$bgCarousel: #f7f7f7;
